<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/styles/client_dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <section id="sidebar">
        <a href="/client_dashboard" alt="Butterfly Logo" class="logo-img">
            <img src='../public/icon/am-peralta-icon.png' alt="Butterfly Logo" class="logo-img">
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="/user_dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/appointments">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Appointments</span>
                </a>
            </li>
            <li>
                <a href="/resources">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Resources</span>
                </a>
            </li>
            <li>
                <a href="/journal">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Journal</span>
                </a>
            </li>
            <ul class="side-menu bottom">
                <li>
                    <a href="#" class="logout" onclick="openLogoutModal()">
                        <i class='bx bx-log-out'></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
    </section>
</body>

</html>